::placeholder {
    color: #fa4a5e !important;
}

::selection {
    background-color: #FA4A60 !important;
}

body {
    padding-bottom: 30px;
}

.createForm-header {
    background-color: #fa4a5efe;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3 !important;
}


.logo-title {
    font-family: 'Baloo 2', cursive;
    font-size: 4rem;
    color: white;
    margin-top: 10px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fa-solid.fa-umbrella-beach {
    color: white;
}

.logo-container {
    display: flex;
    cursor: pointer;
}

.function-icon {
    color: white !important;
    margin-top: 5px;
    margin-right: 5px;
}

.function-name {
    margin-right: 10px;
}

.function-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 15px 10px;
}

@media screen and (max-width: 991px) {

    .function-container,
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.greeting-container {
    cursor: default !important;
}

.greeting-container:hover {
    color: white !important;
}

.fa-pen-to-square {
    color: white;
}

.function-div {
    color: white;
    font-size: 1.2rem;
    display: flex;
    margin-right: 15px;
    cursor: pointer
}

.function-div:hover {
    color: #fca0ab;
}

.eventsTitle {
    font-family: 'Baloo 2', cursive;
    margin-top: 10px;
}


.fa-umbrella-beach {
    color: white;
    font-size: 4rem;
    margin: 20px 10px 20px 20px;
}


/* ?detail part start */

.main-container {
    margin-top: 120px;
}

@media screen and (max-width: 991px) {
    .main-container {
        margin-top: 180px;
    }
}

#googleMap {

    margin-bottom: 30px;
}

.detail-content {
    padding: 0px 30px 30px 20px;
    font-size: 1rem;
}



.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-photo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    z-index: 0 !important;
    border-radius: 10px;
}

.detail-carousel {
    border-radius: 10px;
}

/* @media screen and (max-width: 768px) {
    .detail-carousel {
        margin-top: 160px;
    }
} */

#detail-photo,
#detail-photo-main {
    height: 500px !important;
    object-fit: cover;
}

.detail-slide {
    margin-top: 110px;
    margin-bottom: 20px;
}

.form-photo {
    border-radius: 10px;
}

.icon-container {
    display: flex;
    color: #FA4A60;
}

.detail-detail {
    margin: 10px 10px;
    font-size: 1.3rem;
}

.fa-heart {
    cursor: pointer;
}

.fa-sack-dollar,
.fa-user .fa-lock,
.fa-users,
.fa-heart,
.bi-heart-fill .fa-plane-departure,
.fa-plane-arrival,
.fa-location-dot {
    margin-right: 20px;
}

.detail-like-text {
    user-select: none;
    -webkit-user-select: none;
}

.detail-date-box {
    margin-left: 10px;
}

.fa-solid,
.fa-regular {
    color: #FA4A60;
}

.dropdown-toggle {
    color: #FA4A60;
    border: solid 1px #FA4A60;
    z-index: 0 !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
    background-color: #FA4A60;
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.detail-introduction {
    margin-left: 20px;
}

.budget,
.form-control-budget {
    border: solid 1px #FA4A60;
}

.form-control-budget:focus {
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.form-control-text,
.form-select {
    color: #FA4A60;
    margin: 20px 0 20px 0;
    border: solid 1px #FA4A60;
    z-index: -100;
}

.form-control-text:focus,
.form-select:focus {
    color: #FA4A60;
    margin: 20px 0 20px 0;
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.delete-confirm,
.btn-submit {
    margin: 20px 0 20px 0;
    background-color: #FA4A60;
    border: none;
}

.delete-confirm:focus,
.delete-confirm:hover,
.btn-submit:hover,
.btn-submit:focus {
    color: white;
    background-color: #fd263f;
    border: none;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.btn-submit:disabled {
    color: white;
    background-color: #ff6879;
}

.form-control-file {
    color: #FA4A60;
    border: solid 1px #FA4A60;
}


/* input[type="file"] {
    display: none;
}

.form-check-input {
    border: solid 1px #FA4A60;
    color: #FA4A60;
} */

.form-check-input-checked-color {
    color: #FA4A60;
}

.custom-file-upload {
    text-align: center;
    color: #FA4A60;
    border: 1px solid #FA4A60;
    display: inline-block;
    padding: 6px 18px;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 6px !important;
}

.custom-file-upload:hover {
    font-weight: bold;
    color: #FA4A60;
    border: 1px solid #FA4A60;
    display: inline-block;
    padding: 6px 16px;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 10px;
}

.form-check-label {
    color: #FA4A60;
}

.select-icons {
    color: #FA4A60;
    margin: 15px 20px 0 20px;
    margin-left: 20px;
}

.like-btn:disabled {
    color: white;
    background-color: #ff6879;
}


.message-input[disabled] {
    background-color: white;
}

.event-participants {
    width: 90%;
    border-radius: 10px;
    margin: 40px 0px 0px 30px;
    border: 1px solid #FA4A60;
    height: 200px;

}

.participants-title {
    text-align: center;
    font-size: 1.5rem;
    color: #FA4A60;
    border-bottom: 1px solid #FA4A60;
}

.participants-content {
    margin-top: 10px;
    font-size: 1.1rem;
}

.btn-primary,
.btn-success {
    --bs-btn-focus-shadow-rgb: #FA4A60 !important;
}