::placeholder {
    color: #fa4a5e !important;
}

::selection {
    background-color: #FA4A60 !important;
}

/* ? header start */

.createForm-header {
    background-color: #FA4A60;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3 !important;
}


.logo-title {
    font-family: 'Baloo 2', cursive;
    font-size: 4rem;
    color: white;
    margin-top: 10px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fa-solid.fa-umbrella-beach {
    color: white;
}

.logo-container {
    display: flex;
    cursor: pointer;
}

.function-icon {
    color: white !important;
    margin-top: 5px;
    margin-right: 5px;
}

.function-name {
    margin-right: 10px;
}

.function-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 15px 10px;
}

@media screen and (max-width: 768px) {

    .function-container,
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.greeting-container {
    cursor: default !important;
}

.greeting-container:hover {
    color: white !important;
}

.fa-pen-to-square {
    color: white;
}

.function-div {
    color: white;
    font-size: 1.2rem;
    display: flex;
    margin-right: 15px;
    cursor: pointer
}

.function-div:hover {
    color: #fca0ab;
}

.fa-umbrella-beach {
    color: white;
    font-size: 4rem;
    margin: 20px 10px 20px 20px;
}

.logo-title {
    font-family: 'Baloo 2', cursive;
    font-size: 4rem;
    color: white;
    margin-top: 10px;
}


/* ? header end */

.main-container {
    margin-top: 120px;

}



@media screen and (max-width: 991px) {
    .main-container {
        margin-top: 160px;
    }
}

.form-photo {
    /* margin-top: 100px; */
    border-radius: 10px;
    width: 100%;
    height: 400px !important;
    object-fit: cover;
}



.input-group-text,
.form-control {
    color: #FA4A60;
    border: solid 1px #FA4A60;
    background-color: white;
}

.form-control:focus,
.form-control:hover {
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.dropdown-toggle {
    color: #FA4A60;
    border: solid 1px #FA4A60;
    z-index: 0 !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
    background-color: #FA4A60;
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.budget,
.form-control-budget {
    border: solid 1px #FA4A60;
}

.form-control-budget:focus {
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.form-control-text,
.form-select {
    color: #FA4A60;
    margin: 20px 0 20px 0;
    border: solid 1px #FA4A60;
    z-index: -100;
}

.form-control-text:focus,
.form-select:focus {
    color: #FA4A60;
    margin: 20px 0 20px 0;
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;
}

.btn-submit {
    margin: 20px 0 20px 0;
    background-color: #FA4A60;
    border: none;
}

.btn-submit:hover {
    color: white;
    background-color: #fd263f;
    border: none;
}

.form-control-file {
    color: #FA4A60;
    border: solid 1px #FA4A60;
}

input[type="file"] {
    display: none;
}

.form-check-input {
    border: solid 1px #FA4A60;
    color: #FA4A60;
}

.form-check-input-checked-color {
    color: #FA4A60;
}

.custom-file-upload {
    text-align: center;
    color: #FA4A60;
    border: 1px solid #FA4A60;
    display: inline-block;
    padding: 6px 18px;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 6px !important;
}

.custom-file-upload:hover {
    font-weight: bold;
    color: #FA4A60;
    border: 1px solid #FA4A60;
    display: inline-block;
    padding: 6px 16px;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 10px;
}

.form-check-label {
    color: #FA4A60;
}

.form-switch .form-check-input {
    height: 24px;
    width: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(250, 74, 96)'/></svg>");
}

.form-switch .form-check-input:focus {
    border-color: #FA4A60;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(250, 74, 96)'/></svg>");
}

.form-switch .form-check-input:checked {
    background-color: #FA4A60;
    border-color: #FA4A60;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.select-icons {
    color: #FA4A60;
    margin: 15px 20px 0 20px;
    margin-left: 20px;
}

.btn-submit:disabled {
    background-color: #FA4A60;
    border: solid 1px #FA4A60;
    box-shadow: 1px 1px 12px 1px#FA4A60;

}

.pac-container {
    border: solid 2px #FA4A60;
    border-radius: 10px;

}

.pac-icon {
    color: #FA4A60 !important;
}

.pac-matched {
    color: #FA4A60;
}