.header {
  padding: 30px 30px 0px 30px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-search-section {
  display: flex;
  flex-direction: row;
}
.logo-container {
  font-size: 30px;
  color: #fa4a60;
  display: flex;
  flex-direction: row;
}
.search-bar {
  margin-right: 10px;
}
.function-container {
  display: flex;
  flex-direction: row;
}
.function-div {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 4px 8px 0px 0px;
}

/* .logged-in-okay {
  font-size: 20px;
  margin: 2px;
  display: flex;
  flex-direction: row;
}
.show-username {
  margin-right: 10px;
  margin-left: 10px;
  color: #fa4a60;
}
.login-in {
  margin-left: 20px;
  padding: 5px 12px 0px 12px;
  height: 38px;
  border: solid 1px;
  border-color: #555555;
  border-radius: 10px;
  font-size: 16px;
  color: rgb(111, 110, 110);
  cursor: pointer;
  display: block;
}*/

.greeting-container {
  margin-right: 8px;
  font-size: 20px;
  color: #fa4a60;
}
.log-in-container,
.log-out-container {
  margin: 0px 5px 0px 5px;
  cursor: pointer;
  font-size: 20px;
  color: #555555;
}
.admin-container {
  display: none;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link {
  margin-right: 20px;
}
#carouselExampleFade {
  padding: 0px 30px 0px 30px;
  margin: 0px;
}
.create-button {
  position: fixed;
  bottom: 3%;
  right: 45%;
  z-index: 10;
}
#show-more {
  /* position: fixed !important;
  bottom: 3% !important;
  right: 10% !important; */

  height: 40px;
  width: 120px;
  background-color: aquamarine;
}

.roundedFixedBtn {
  height: 40px;
  /* line-height: 80px; */
  width: 150px;
  font-size: 1em;
  padding-top: 8px;
  /* font-weight: bold; */
  border-radius: 10px;
  background-color: #3d3d3dbf;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top;
}
.roundedFixedBtn:hover {
  background-color: #3d3d3d;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1);
  box-shadow: 0px 7px 29px 0px rgba(243, 249, 190, 0.552);
  color: #f86c7c;
}

.carousel-inner > .carousel-item > img {
  /* width: 100% !important; */
  /* height: 80vh; */
  height: 590px !important;
  object-fit: cover;
  border-radius: 15px;
}
.search-bar {
  width: 200px;
  height: 40x;
}
.event-container {
  padding: 20px 30px 0px 30px;

  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-color: #f86c7c;
  margin: 10px 20px 10px 0px;
  height: 380px;
  transition: 0.5s all;
  position: relative;
}
.card-body > .card-text {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: "----"; */
  /* display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis; */
  /* line-height: 1.5em;
  height: 4.5em; /* height is 2x line-height, so two lines will display */
  /*overflow: hidden; prevents extra lines from being visible */

  /* white-space: nowrap;
  text-overflow: ellipsis; 
  width: 100%; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5em; /* fallback */
  max-height: 4.5em; /* fallback */
}

.admin-corner {
  position: absolute;
  left: 195px;
  top: 335px;
  font-size: 20px;
  display: none;
}
.fa-heart-circle-plus {
  position: absolute;
  left: 240px;
  top: 340px;
  font-size: 20px;
  color: black;
}
.heart-red-solid {
  position: absolute;
  left: 238px;
  top: 340px;
  font-size: 25px;
  color: red;
}

.fa-trash {
  margin-right: 5px;
}
.card:hover {
  box-shadow: 10px 10px 10px 5px rgba(54, 53, 53, 0.2);
  margin-top: 5px !important;
}
.card > img {
  height: 12rem;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;

  top: 300px;
}
.icon-col {
  margin-right: 7px;
  color: #fa4a60;
}
.btn-primary {
  background-color: #fa4a60;
  border: none;
  transition: 0.3s all;
  position: absolute;
  left: 10px;
  top: 330px;
  /* padding: px 1em 3px 1em; */
}
.btn-primary:hover {
  background-color: #f98c98;
  border: none;
  transform: scale(1.1);
}
