.header {
  padding: 30px 30px 0px 30px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-search-section {
  display: flex;
  flex-direction: row;
}
.logo-container {
  font-size: 30px;
  color: #fa4a60;
  display: flex;
  flex-direction: row;
}
.login-in,
.logged-in-okay {
  font-size: 26px;
  margin: 2px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link {
  margin-right: 20px;
}
#carouselExampleFade {
  padding: 0px 30px 0px 30px;
  margin: 0px;
}

.carousel-inner > .carousel-item > img {
  /* width: 100% !important; */
  /* height: 80vh; */
  height: 590px !important;
  object-fit: cover;
}
.search-bar {
  width: 200px;
  height: 40x;
}
.event-container {
  padding: 20px 30px 0px 30px;

  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-color: #f86c7c;
  margin: 10px 20px 10px 0px;
  height: 380px;
  transition: 0.5s all;
  position: relative;
}
.card-body > .card-text {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: "----"; */
  /* display: block;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis; */
  /* line-height: 1.5em;
  height: 4.5em; /* height is 2x line-height, so two lines will display */
  /*overflow: hidden; prevents extra lines from being visible */

  /* white-space: nowrap;
  text-overflow: ellipsis; 
  width: 100%; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5em; /* fallback */
  max-height: 4.5em; /* fallback */
}
.fa-heart-circle-plus {
  position: absolute;
  left: 230px;
  top: 340px;
  font-size: 20px;
}

.card:hover {
  box-shadow: 10px 10px 10px 5px rgba(54, 53, 53, 0.2);
  margin-top: 5px !important;
}
.card > img {
  height: 12rem;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;

  top: 300px;
}
.icon-col {
  margin-right: 7px;
  color: #fa4a60;
}
.btn-primary {
  background-color: #fa4a60;
  border: none;
  transition: 0.3s all;
  position: absolute;
  left: 10px;
  top: 330px;
}
.btn-primary:hover {
  background-color: #f98c98;
  border: none;
  transform: scale(1.1);
}
