.header {
  padding: 30px 30px 0px 30px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login-search-section {
  display: flex;
  flex-direction: row;
}
.logo-container {
  font-size: 30px;
  color: #fa4a60;
  display: flex;
  flex-direction: row;
}
.login-in,
.logged-in-okay {
  font-size: 26px;
  margin: 2px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link {
  margin-right: 20px;
}
#carouselExampleFade {
  padding: 0px 30px 0px 30px;
  margin: 0px;
}

.carousel-inner > .carousel-item > img {
  /* width: 100% !important; */
  /* height: 80vh; */
  height: 590px !important;
  object-fit: cover;
}
.search-bar {
  width: 200px;
  height: 40x;
}
.event-container {
  padding: 20px 30px 0px 30px;

  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border-color: #f86c7c;
  margin: 10px 20px 10px 0px;
  transition: 0.5s all;
}

.card:hover {
  box-shadow: 10px 10px 10px 5px rgba(54, 53, 53, 0.2);
  margin-top: 5px !important;
}
.card > img {
  height: 12rem;
}
.btn-primary {
  background-color: #fa4a60;
  border: none;
  transition: 0.3s all;
}
.btn-primary:hover {
  background-color: #f98c98;
  border: none;
  transform: scale(1.1);
}
